@{
    ViewData["Title"] = "Already Interested";
}

<div class="text-center">
    <h1 class="display-4">You are already interested!</h1>
    <p>You will be contacted as soon as possible!</p>
    <p>Click <a asp-controller="Home" asp-action="Index">here</a>  to go back to the home page.</p>
</div>

