@{
    ViewData["Title"] = "Interest failed";
}

<div class="text-center">
    <h1 class="display-4">You can't show any more interests!</h1>
    <p>Click <a asp-controller="Home" asp-action="Index">here</a>  to go back to the home page.</p>
</div>

